.search-bar {
    width: 100%;

    h1 {
        color: #66575a;
        white-space: nowrap;
        text-align: end;
        font-family: 'Cedarville Cursive', cursive;
        font-size: 2rem;
    }

    input {
        width: 100%;
    }
}