@import '../../style/main.scss';

.sticky-up {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

#child {

    img {
        width: 20%;
        background: url(../../assets/pictures/blob-twingo.svg);
        background-repeat: no-repeat;
    }
}

.child {
    margin-top: -15vh;

    // img {
    //     width: 40vw;
    //     border-radius: 10% 110% / 50% !important;
    // }

    

    
}

@media screen and (max-width: 799px) {

    #child {
        img {
            width: 45%;
            display: flex;
            margin: auto;
        }
    }

}