@import '../../style/main.scss';

#couple {
    img {
        width: 20%;
    }
}

.couple {
    margin-top: -10vh;
    //background-image: url('../../assets/pictures/blob.svg');
    display:grid;
    place-content: center;
    align-items: center;
    //height: 100vh;
    box-sizing: border-box;

    img {
        //border-radius: 123%;
        border-radius: 10% 110% / 50% 30%!important;
    }

    // .pageCategory_box {
    //     //display: flex;
    //     position: absolute;
    //     top: 20vh;
    // }

        //// test ////
  
        .card {
            position: relative;
            padding: 2rem;
            //padding: 2rem;
            //padding: 42px 32px;
            clip-path: circle(5% at 95% 11%);
            transition: all ease-in-out .3s;
            background-color:rgba(188, 176, 142, 1);
            max-width: 80vw;
            margin-left: auto;
            margin-right: auto;
            z-index: 1;
            
            &_infoicon {
                position: absolute;
                top: 5rem;
                right: 1.5rem;
                transition:ease-out .3s;
                z-index: 1;
    
                i {
                    @include link;
                    color: #ffff;
                }
            }
        
            
            &:hover, &:focus {
              clip-path: circle(75%);
              border-radius: 3rem;
              //box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
                          //0px 3px 18px rgba(0,0,0,0.08);
              //background:#ffffff;
              
              outline: none;
    
              .card_infoicon {
                opacity: 0;
              }
            }
    
            // &:focus {
            //   box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 
            //               0px 3px 18px rgba(0,0,0,0.08), 
            //               0px 0px 0px 4px rgba(0,0,0,0.2);
            // }
        }
    
    @media screen and (max-width: 799px) {
        .card {
            display: none;
        }

        img {
            display: flex;
            margin: auto;
        }
    }
}

@media screen and (max-width: 799px) {

    #couple {
        img {
            width: 45%;
            display: flex;
            margin: auto;
        }
    }

}