@import '../../style/main.scss';

.who {
    padding-top: 4rem;

    h2 {
        padding-bottom: 2rem;
    }

    &_container {
        margin: auto;
        @include width;

        h2 {
            text-align: center;
            @include big-title;
        }

        .one {
            img {
                background-image: url('../../assets/pictures/blob.svg');
            }
        }

        p {

            i {
                font-weight: bold;
            }

            mark {
                font-weight: bold;
                background-color: darken(#fafafa, 5%);
            }
        }

        .three {
            img {
                background-image: url('../../assets/pictures/blob5.svg');
            } 
        }

        .two {
            img {
                background-image: url('../../assets/pictures/blob9.svg');
            }
        }

        // &_intro {   

        //     p {
        //         padding: 2rem 0;
        //     }

        // }

        &_flex {
            align-content: space-between;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

        }
    }

    @media screen and (max-width:799px) {
        margin: auto;
        padding: 0;
        padding-top: 15rem;

        &_container {

            p {
                padding: 0;
            }

            h2 {
                padding: 1rem;
            }
        }
    }
}