@import '../../style/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.brand {
    left: 2vw;
    position: absolute;
    top: 1vw;

    a {
        font-family: 'Staatliches', cursive;
        font-size: 18px;
        text-transform: uppercase;
    }

    i:hover {
        @include animate(icon-bounce, 0.5s, alternate);
    }
    // figcaption {
    //     text-align: center;
    // }
}

// .logo {
//     background-image: url('../../assets/pictures/blob-beige.svg');
//     width: 5rem;
// }

