@import '../../style/main.scss';

.layout-category {
    width: 100vw;
    padding: 2rem auto 3rem 2rem;

    &-btn {
        @include button;
        float: right;
        margin: 1rem;

        &:hover {
            @include button-hover;
        }
    }

    &-icon {
        float: left;
        margin-bottom: 1rem;
    }

    p {
        margin: 0 0 2rem 2rem;
        max-height: 60vh;
        width: 50vw;
    }

    @media screen and (max-width:799px) {

        div {
            max-height: 50vh;
            overflow: auto;
            width: 80vw;
        }
        
        div p {
            margin-bottom: 2rem;
            margin-left: auto;
            width: 80vw;
        }
        
        .layout-icon {
            display: none;
        }
    }
}