@import '../../style/main.scss';

.layout {
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
    height: 100vh;
    margin: auto 3rem;
    max-width: 100vw;
    //padding-top: 6rem;
    
    
    &_container {
        display: flex;
        flex-flow: row nowrap;

        div {
            //align-self: center;
            width: 60%; /* DO NOT CHANGE '%' UNIT */
        }

        &-icon {
            display: block;
            width: 360px;  
        }

        /* hide the little picture */
        &-icon-small {
            display: none;
        }

        h2 {
            @include title-medium;
            margin-bottom: .5rem;
            text-align: left;
        }

        p {
            @include p-large;
            max-height: 60vh;
            margin-bottom: 3rem;
        }

        span a {
            margin-top: 1rem;
            @include button;
        }

        span a:hover {
            @include button-hover;
        }

        &-text {

            li {
                list-style-type: disc;
                @include p-large;
            } 
        }
    }

    @media screen and (max-width:799px) {

        height: auto;
        max-width: 80vw;
        padding: 0 0 3rem;

        span a {
            margin: 2rem 0;
            padding: 0;
        }
        
        &_container {
            flex-direction: column;
            height: auto;
            width: 100vw;

            div {
                width: 100%;
            }

             /* hide the big picture */
            &-icon {
                display: none;
            }

            &-icon-small {
                border-radius: 50% 20% / 10% 40% !important;
                display: block;
            }

            &-img {
                width: 60vw;
                height: 60vw;
            }

            &-text {
                padding: 2rem;
            }
        }

        h2 {
            text-align: center;
        }
    }
}