@import '../../style/main.scss';

.price {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    height: 60vw;
    padding: 0 2rem;
    text-align: justify;
    width: 40vw;

    ul {
        text-align: justify;
    }

    hr {
        border: .5px solid #dab5b5;
    }

    /* animation*/
    animation: moveleft 2s 1 normal forwards;

    @keyframes moveleft {
        from { transform: translateX(650px); }
        to   { transform: translateX(0); }
    }

    li {
        display: inline;
        padding-right: 1rem;
    }
    
    ul {
        padding: 1rem 0 .5rem 0;
    }

    &_list { // ne fonctionne pas 
        ul:first-child > li:last-child::after {
            content: "♥ je te teste";
        }    
    }

    /* Table properties */

    caption { 
        caption-side: top;
        padding: 1rem 0;
        text-align: right;
    }

    .notice {
        margin-bottom: 1rem;

        td {

            border-bottom: 1px solid rgba(0,0,0,.3);
            
        
            // & ~ td {
            //     border-bottom: 1px solid rgba(0,0,0,.3);
            //     border-right: 1px solid rgba(0,0,0,.3);
            // }

            // td:nth-child(2) {
            //     border-bottom: 1px solid rgba(0,0,0,.3);
            // }
            
        }

        ul li {
            font-size: 13px;
        }


        li {
            display: block;
            
        }

        li:first-child {
            text-decoration: underline;
        }

        span {
            font-weight: bold;
        }

        ul {
            list-style-type: disc !important; // ne fonctionne pas 
        }

    }
      
    table { 
        border: .5px solid rgba(0,0,0,.3);
        border-collapse: separate;
        border-radius: 14px;
        border-spacing: 0px; 
        margin: auto;
        text-align: center;
        width: 30vw;
    }

    table:first-child {
        margin: 1rem;
        border: 1px solid rgba(0,0,0,.3);
        //background-color: white;
	    border-collapse: separate; /* or collapse */
	    border-spacing: 0px;
	    border-radius: 14px;
    }

    th, td {
        padding: 1rem;
        text-align: center;
    }
      
    @media screen and (max-width:800px) {
        margin: auto;
        width: 80vw;

        h3 {
            text-align: center;
        }

        li {
            display: block;
        }

        .notice {
            //margin-bottom: 1rem;

            tr:last-child {
                display: none;
            }

        }
       
        .price {
            font-size: 2rem;
            height: auto;

            &_list {
                table {
                    width: 90%; 
                }
            }
        }

        caption, td, th, i {
            font-size: 12px !important;
            vertical-align: middle !important; /* DO NOT FORGET THE PROPERTY ! */
        }

        ul {
            padding-left: 3em;
        }
       
    }

    @media screen and (max-width: 545px) {
        
        height: auto;
        padding: 0;

        .price_list {
            font-size: 2rem;
        }
   
    }
}