@import './../../style/main.scss';

.layout-therapy {
    height: auto;
    max-height: 95vh;
    padding: 3rem;
    
    width: 85vw;
    
    &_container {

        display: flex;
        
   
        a {
            @include nav;
            margin: 1rem auto;
            padding: .5rem .5rem;
            
            &:hover {
                background-color: #bde9db;
            }
        }

        h2 {
            @include title-medium;
            text-transform: uppercase;
            //@include main-title;
            font-size: 3rem;
            //@include big-title;
            padding-top: 0;
            text-align: left;
        }

        li {
            @include p-font;
        }

        Iframe::backdrop {
            background-color: rgba(0,0,0,.3);
        }

        .linkNoStyle {
            @include linkNoStyle;
        }

        p {
            max-height: 60vh;
            text-align: left;
        }

        &-text {
            padding-right: 2rem;

            div {
                text-align: center;
                padding-top: 3rem;
            }
        }

        .video {
            &-warning {
                display: flex;
                width: 100%;
                padding: 3rem;
                justify-content: center;
                    
                #video-warning {
                    align-self: center;
                    width: 20rem;
                    position: absolute;
                    z-index:2;

                    p, a {
                        font-weight: 900;
                        color: white;
                        text-align: center;
                    }

                    a {
                        text-decoration: underline;
                    }

                    
                    .close i {
                        color: white;
                        cursor: grab;
                        display: block;
                        width: 100%;
                        margin: auto;
                        text-align: center;
                    }
                }

                #video {
                    width: 25rem;
                    height: 25rem;
                    display: none;
                    position: relative;
                    z-index:1;
                    /* This effect allows you to change the brightness of the image */
                    filter: brightness(15%);
                    -webkit-filter: brightness(15%);
                    -moz-filter: brightness(15%);
                    -o-filter: brightness(15%);
                    -ms-filter: brightness(15%); 
                }

            }

            &-warning_close {
                display: flex;
                width: 100%;
                padding: 3rem;
                justify-content: center;

                #video-warning {
                    display: none;
                }

                #video {
                    width: 25rem;
                    height: 25rem;
                    display: initial;
                    position: relative;
                    z-index:1;
                    filter: none;
                    display: initial;
                }

            }

        }
    }
    
}

@media screen and (max-width:799px) {
    flex-direction: column;
    //font-size: 60%;
    border-radius: none;
    padding: .5rem;

    &_container {

        &-text {
            padding: 0;
        }
    }
               
    .layout-icon {
        display: none;
    }

    h2 {
        text-align: center;
    }
}
    
