@import './../../style/main.scss';

.layout-therapy {
    background-color: #f1e1cf;
    border: 1.1px solid rgba(0,0,0,.3);
    border-radius: 2%;
    height: auto;
    max-height: 95vh;
    padding: 3rem;
    
    width: 75vw;
    
    &_container {
        align-items: flex-start;
        display: flex;
        flex-flow: row nowrap;
        
        a {
            @include button;
            margin: 1rem auto;
            padding: 1rem 2rem;
        }

        a:hover {
            @include button-hover;
        }

        div {
            align-self: center;
        }

        h2 {
            font-size: 3rem;
            //text-align: left;
            @include big-title;
            text-align: left;
            padding-top: 0;
            // margin-top: 0;
            // font-size: 3rem;
            // font-weight: 300;
            // letter-spacing: 0;
            // font-family: 'Lato', sans-serif;
            // color: #241C15;
        }

        Iframe::backdrop {
            background-color: rgba(0,0,0,.3);
        }

        .linkNoStyle {
            @include linkNoStyle;
        };

        p {
            max-height: 40vh;
            text-align: left;
        }

        &-text {
            padding-right: 2rem;
        }
    }
        @media screen and (max-width:799px) {
            flex-direction: column;
            //font-size: 60%;
            border-radius: none;
            padding: .5rem;

            &_container {

                &-text {
                    padding: 0;
                }
            }
            
            
            .layout-icon {
                display: none;
            }

            h2 {
                text-align: center;
            }
        }
    
}