.calendar {
    background-color: whitesmoke;
    display: grid;
    margin: auto;
    max-height: 90vh;
    width: 80%;
    
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
   
    @media screen and (max-width: 799px) {
        
    }
}