@import './../../style/main.scss';

.step {
    //background-color: #fafafa;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    &_container {
        margin: auto;
        @include width;

        h2 {
            text-align: center;
            @include title-medium;
            text-transform: uppercase;
            padding-bottom: 3rem;
        }

        &-text {
            // grid-template-areas: 
            // " one one one"
            // " one two one"
            // " three two three"
            // " three three three";
            //height: 48vh;
            //overflow: auto;
            //scrollbar-width: none; //Hide scrollbar
            //text-overflow: ellipsis;

            .one {
                grid-area: one;
            }

            .two {
                grid-area: two;
            }

            .three {
                grid-area: three;
            }

            p {
                //background-color: #e6e5e7;
                padding: 1rem;
            } 
        }
    }

    @media screen and (max-width:799px) {

        h2 {
            line-height: auto;
        }
    }
}