@import '../../style/main.scss';
//BIG TITLE
//@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
//TITLES 
//@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.home {
    background-color: #fafafa;
    background-image: url('../../assets/pictures/blob-twingo.svg');
    background-size: 100%;
    background-size: cover;
    max-width: 100vw;
    padding-top: 8rem;
    position:relative;

    h2 {
        @include title;
    }

    img {
        border-radius: 19% 110% / 50% 60%;
        padding-left: 1rem;
        width: 300px !important;
    }

    &-title {
        h1 {
            @include main-title;
            font-size: 3rem;
            position: absolute;
            text-align: right;
        }
    }

    @media screen and (max-width: 799px) {

        h1 {
            @include main-title;
            font-size: 2rem;
            font-weight: bold;
            margin-right: 2rem;
            position: static;
            text-align: right; 
        }
        
    }
}