@import '../../style/main.scss';

.page-contact {
    //padding-top: 6rem;
    max-width: 85vw;
    margin: auto;
    margin-top: 3rem;

    h2 {
        @include title-medium;
        text-transform: uppercase;
        //margin-bottom: 3rem;
        text-align: center;
    }

    &_content {
        display: flex;
        justify-content: space-around;
    }

    @media screen and (max-width:799px) { 

        padding: 2rem;
        padding-top: 100vh;
    
        h2 {
            font-size: 1.4rem !important;
            margin-bottom: 1rem;
        }
    }
}