@import '../../style/main.scss';

.contactInfo {
    // align-content: flex-start;
    // align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100vw;

    //drawing//
    background-image: url('../../assets/icons/speaking-bubble.png'), url('../../assets/pictures/blob10.svg');
    background-size: 50% 100%;
    //background-size: contain;
    background-repeat: no-repeat no-repeat;
    height: 100vh;
    background-position: left;

    a, address, h3, h4, p {
        display: block;
        margin: auto;
        text-align: center;
    }

    a, address, h3, h4, p, u  {
        font-family: "Lato",serif !important;
        font-size: 16px !important;
        
        //font-family: NeutraText-Light,Arial,sans-serif !important;
        //font-size: .80rem !important;
        font-weight: 300 !important;
        color:#241C15!important;
        //text-transform: uppercase;
        text-align: center;
        font-style: normal;
    }

    a {
        padding: .5rem 0;
    }

    a:hover {
        background-color: #bde9db;
    }

    i {
        font-size: 1.5rem;
    }
    
    @media screen and (max-width:799px) {
        align-content: center;
        align-items: center;
        justify-content: center;

        background-image: none;
        height: auto;

        a, address, h3, h4, p, u  {
            padding-top: .5rem;
        }

        h2 {
            font-size: 1.4rem !important;
        }
    }

    @media screen and (max-width:545px) {

        p {
            font-size: 80%;
        }
    }
}