@import '../../style/main.scss';

.contactInfo {
    // align-content: flex-start;
    // align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 1rem;
    width: 100vw;

    a, h3, h4, p {
        display: block;
        margin: auto;
        text-align: center;
    }

    a, h3, h4, p {
        font-family: NeutraText-Light,Arial,sans-serif !important;
        font-size: 11px !important;
        font-weight: 700 !important;
        color: #454545 !important;
        text-transform: uppercase;
        text-align: center;
    }

    span a {
        text-decoration: underline;
    }
    
    @media screen and (max-width:799px) {
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width:545px) {

        p {
            font-size: 80%;
        }
    }
}