.contactForm {
    border: 1px solid rgba(0,0,0,.1);
    //background-color: rgba(0, 0, 0, .4);
    width: 75vw;
    // background-image: url('../../assets/pictures/blob-beige.svg');
    // background-size: 100%;
    // background-repeat: no-repeat;

    background-color: #f5f5f5;
    //border: 1.1px solid rgba(0, 0, 0, 0.3);
    //border-radius: 50% 20% / 10% 40%;

    .button {
        display: block;
        float: right;
        margin: .9rem;
    }

    h2 {
        margin-bottom: 1em;
    }

    p {
        color: black;
        font-family: 'Open Sans Condensed',Helvetica,sans-serif;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: .144rem;
        padding: 2rem;
        text-transform: uppercase;
    }

    .form {
        padding: 2rem;

        &-flex {
            display: flex;
            justify-content: space-between;

            &-one {
                width: calc(75vw/2.2);
            }

            &-two {
                width: calc(75vw/2.2);
            }
        }

        fieldset {
            border: 1.1px solid rgba(0, 0, 0, .1);
            border-radius: 1.5%;
            margin-bottom: 2rem;
            padding: 1rem;
        }

        #firstname {
            text-transform: capitalize;

            &::placeholder {
                text-transform: none;
            }
        }

        i {
            color: black;
            font-size: .6rem;
        }

        &_input {
            overflow: hidden;
        }

        //input:invalid, textarea:invalid, select:invalid {
            //border-radius: 3px;
            //background-color: rgba(0, 0, 0, .3);
            //color: #fcec95;
            //color: black;
            //font-weight: 900;
        //}
          
        //input:valid, textarea:valid, select:valid {
            //border-radius: 3px;
            //border: 1px solid #addbff;
            //background-color: rgba(0, 0, 0, .3);
            //color: #fcec95;
            //color: black;
            //font-weight: bold;
        //}

        label, legend, i {
            color: black;
            font-family: 'Open Sans Condensed',Helvetica,sans-serif;
            //font-family: 'Poppins', sans-serif;
            font-weight: 300;
            letter-spacing: .144rem;
            text-transform: uppercase;
        }

        #lastname {
            text-transform: uppercase;

            &::placeholder {
                color: black;
                text-transform: none;
            }
        }

        
        // legend, select {
        //     color: rgba(0, 0, 0, 0.5);
        //     font-size: 1.25rem;
        // }

        &-select select, input, textarea {  
            /* cancel default browser view appaearance */
            -webkit-appearance: none; 
            -moz-appearance: none;  
            appearance: none;   

            background: none;
            border-bottom-color: rgba(0, 0, 0, 0.3);;
            border-bottom-style: none;
            border-bottom-width: medium;
            border: none;
            border-bottom: 1.1px solid rgba(0, 0, 0, 0.3);;
            border-radius: 0;
            cursor: pointer;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            font-size: 1.25rem;
            letter-spacing: 0;
            margin: 0;
            margin-bottom: 1.5rem;
            position: relative;
            width: 100%;
        }

        /* customize select tag */

        select option {
            font-family: 'FontAwesome', 'Poppins'; //???
        }

        span:first-child {
            display: inline;
        }

        textarea {
            background-color: rgba(191,170,143,.1);
        }

    }

    p {
        padding-bottom: 2rem;
    }

    @media screen and (max-width:799px) {

        display: none;
    }

}