@import '../../style/main.scss';

.page-info {
    padding-top: 10rem;
    max-width: 85vw;
    margin: auto;

    h2 {
        //@include big-title;
        //margin-bottom: 3rem;
        @include title-medium;
        text-transform: uppercase;
        text-align: center;
    }

    &_content {
        display: flex;
        justify-content: space-around;
    }

    @media screen and (max-width:799px) { 
        padding: 2rem;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
    }
}