@import '../../style/main.scss';

/* scroll animation */
.active {
    transition: all 500ms ease-in;
    visibility: visible;
}

.hidden {
    transform: translate(0, -100%);
    transition: all 500ms ease-out;
    visibility: hidden;
}

.header {
    /* adds animation for all transitions */ 
    -webkit-transition: .25s ease-in-out; 
    -moz-transition: .25s ease-in-out; 
    -o-transition: .25s ease-in-out; 
    transition: .25s ease-in-out; 

    nav {
          //@include shadow;
    align-items: baseline; /* by default: align-items: strech -> child elements' heights = the container's height */
    align-self: flex-start;
    background-color: $bg-primary;
    display: flex;  /* flex container */
    flex-flow: row nowrap;
    //height: 5.8rem;
    justify-content: space-evenly;
    //justify-content: space-between;
    left: 0;
    padding: 1rem 5%;
    
    width: 100vw;
    z-index: 2;

   

    }

    a {
        pointer-events: auto;
    }

    a:hover {
        text-decoration: none; 
    }

    &-home, &-links {
        
        a, li {
            padding: 0 1rem;
            text-transform: uppercase;
        }
    }

    img {
        background-image: url('../../assets/pictures/blob-beige.svg');
        margin: -.8rem 0 0 -.8rem;
    }

    &-links {
        align-self: flex-end;
        color: beige;

        /* hover effect */
        @include hoverEffect;
        
        a {
            padding: 0;
        }
    }

    .logo {
        width: 5rem;
    }

    .logo:hover {
        @include animate(icon-bounce, 0.5s, alternate);
    }

    nav {
        margin-right: 3rem;
    }
    
    .toggle {
        display: none;

        i {
            font-size: 22px;
        }
    }

   

    /* different properties for the additional pages */
    // .header-out {
    //     background-color: transparent !important;
    // }

    // .links-out {
    //     color: #2c2c62 !important;
    // }

    /**
    *
    * Smaller screen + Mobile
    *
    */

    @media screen and (max-width: 800px) {
        
        //background-color: white;
        display: inline;
        flex-direction: column; /* change the direction of the container */
        margin-top: 0;

        .closed {
            display: none;
        }
        
        &-home {
            align-items: center;
            display: flex;
            justify-content: space-between;
            //margin: 0 1rem;
        }
        
        &-home, &-links {  
            a, li {
                padding: 0;
            }
        }

        &-links {
            align-items: flex-end;

            a {
                padding: 0;
            }
        }

        .opened {
            //border-top: solid 1.6px khaki;
            margin-top: 1rem;
        }

        .toggle {
            display: inline-block;
        }
        
    }

    @media screen and (max-width: 545px) {

        .toggle {
            font-size: 2rem;
        }

    }
}