@import '../../style/main.scss';
// @font-face {
//     font-family: 'NeutraText-Light';
//     src: url('../../assets/fonts/NeutraTextLight/NeutraTextLight.otf');
// }

.menu {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    z-index: 200;
    
    /* Hide the sub-menu */
    &-sub {
        display: none;
    }

    /* on mouseover display the submenu */
    ul li:hover .menu-sub {
        background-color: $bg-primary;
        //display: block;
        display: flex;
        //font-size: 11px;
        width: 100vw;
    }

    /* position : absolute, remove from normal page flow and no impact the content */
    &-sub {
        //border: solid 2px khaki;
        display: none;
        //max-width: 15vw;
        padding-top: 1rem;
        position: absolute;
        width: 100vw;
        z-index: 100;
    }

    &-sub li {
        //margin-bottom: 1rem;
        text-align: left;
        transform: translateX(-10px);
        padding: 0 0.8rem !important;
    }

    a {
        font-family: NeutraText-Light,Arial,sans-serif;
        font-size: 11px;
        color: #454545 !important;
        line-height: 2rem;
        text-transform: uppercase;
    }

    /* add a symbol after the title mouse over use unicode and symbol */
    &-title:hover::after {
        color: #454545;
        content: "\00a0▼"; 
        font-size: 11px;
    } 

    /**
    *
    * Smaller screen + Mobile
    *
    */

    @media screen and (max-width: 800px) {
        background-color: white;
        border: 1px solid khaki;
        flex-direction: column;
        padding-bottom: 1rem;

        /* delete the arrow symbol after the title menu */
        &-title:hover::after {
            content: ""; 
        } 

        &-wrap {
            //color: khaki;
            margin: 0;

            /* on mouseover DO NOT display the submenu */
            ul li:hover .menu-sub {
                display: none;
            }

            ul:first-child {
                margin: 1.3rem auto 0 1rem;
                width: auto;
            }
        }
    }
}