/*
* Layout: Header, footer, grid, navigation
* Grid-Layout (App takes all the available height), * Remove the default margin from body, *height = viewport
*/

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
