/*
* Pages: Have a single scss for each specific page
*/

.pageCathegory {
    background-repeat: no-repeat;
    height: auto;
    margin: 2rem auto 5rem;
    max-width: 100vw;

    h2 {
        margin-left: 2rem;
        text-align: left;
        @include big-title;
    }

    img {
        margin: 0 0 2rem 1rem;
        width: 40vw;
    }

    p {
        font-size: 1rem;
    }

    &_box {
        display: flex;
    }

    @media screen and (max-width:799px) {

        margin: 2rem 0 2rem;

        h2 {
            margin: 0;
            text-align: center;
        }

        &_box {
            flex-direction: column;

            .layout-cathegory {
                margin: auto;
            }
        }
    }
}

.pageTherapy {
    display: flex;
    justify-content: center;
    width: 100vw;
    //height: 100vh;
    background-image: url('../assets/pictures/gradient6.jpg');
    background-repeat: no-repeat; 
}