#at {
    img {
        background-image: url(/static/media/blob13.2f141192.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 30%;
        // width: 30vw;
        // height: 30vw;
    }
}