.admin-event {
    background-image: url('../../assets/pictures/mozaic.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    //background-position: center;
    background-position: 50% 55%;
    
    display: flex;
    width: 100vw;
    height: 100vh;
}