.admin-event {
    background-image: url('../../assets/pictures/mozaic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: center;
    background-position: 5% 55%;
    
    display: flex;
    width: 100vw;
}