.navContact {
    background-color: rgba(0,0,0, .08);
    border-radius: 5%;
    margin: auto;
    padding: 3rem;
    width : 40vw;
    z-index: 50;

    a {
        color: rgba(14,19,24,.45);
        cursor: pointer;

        &:hover {
            color: plum;
        }
    }

    h1 {
        font-family: 'Cedarville Cursive', cursive;
        font-size: 2rem;
    }
   
    li {
        align-items: center;
        display: flex;
        border: 1px solid rgba(14,19,24,.45);
        border-radius: 50%;
        font-size: 16px;
        justify-content: center;
        height: 40px;
        margin: 8px 8px 0;
        text-align: center;
        transition: all .3s;
        width: 40px;

        &:hover {
            background-color: whitesmoke;
            border: none;
        }
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
        //center the element :
        align-items: center;
        justify-content: center;
    }
}