@import '../../style/main.scss';
@import '../../style/components.scss';

/* all the scss in ./style/layouts.scss */

.postcontact {
    background-color: #e9e8ea;
    background-image: url('../../assets/pictures/sunflower.jpg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right;
}