@import '../../style/main.scss';

/* all the scss in ./style/layouts.scss */

.postemail {
    background-color: #e7e7e7;
    background-image: url('../../assets/pictures/lavander.jpg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
}