.searchPerson {
    background-color: #f1efe2;
    background-image: url('./../../assets/pictures/bouquet.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
    align-items: center; /* vertical align */
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    justify-content: center; /* horizontal alin */
    overflow: hidden;
    margin: auto;

    div {
        width: 3Ovw;
    }
}