.searchPerson {
    background-color: #f1efe2;
    background-image: url('../assets/pictures/bouquet.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
    display: flex;
    width: 100vw;
    justify-content: center;
}