.tabNav {

    .is-active {
        text-decoration: underline overline #adf0b0;
    }

    li {
        padding: 1rem .5rem;
        cursor: pointer;
        //border-bottom: #dab5b5 1px solid;

        span {
            margin-left: 12px;
        }
    }

    .picked {
        //background-color: #dab5b5;
    }
}