@import '../../style/main.scss';

.footer {
    background-color: $secondary;

    &_bottom {
        display: flex;
        padding: 1rem .5rem 1rem;
        font-family: 'Open Sans Condensed',Helvetica,sans-serif;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: .144rem;

        p {
            color: darken(#e6e5e7, 30%);
            font-family: 'Open Sans Condensed',Helvetica,sans-serif;
            font-size: 13px;
            font-weight: 300;
            letter-spacing: .144rem;
        }

        div:nth-child(2) {
            color: darken(#e6e5e7, 40%);
            padding: .2rem 1rem;

            i {
                text-decoration: underline;
            }
            

            &:hover {
                color: #007C89;
            }
        }
    }

    /**
    *
    * Smaller screen + Mobile
    *
    */

    @media screen and (max-width:799px) {

        background-color: transparent;
        font-size: .7rem;
        padding: 1.5rem 0 1.5rem;

        // &_bottom {
        //     margin-left: 5%;
        // }

        &_container {
            display: none;
        }
    }
}