.searchBar {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    //border: 1px solid #c4c4c4;
    height: 20px;
    color: #575757;
    border: none;
    padding: 2rem;
    border-radius: 3%;
}
   
.searchBar:focus {
    outline-width: 0;
}
   
.searchBar::placeholder {
    color: #575757;
}